section(class='charts')
    ul.chart-list
        li.linechart LineChart
        li.barchart BarChart
        li.bubblechart BubbleChart
        li.stackchart StackChart
        li.stockchart StockChart
        li.streamchart StreamChart
        li.piechart PieChart
        li.radarchart RadarChart
        li.radialchart RadialChart
        li.smithgraph SmithGraph
        li.worldmap WorldMap
        li.heatmap HeatMap
        li.basictree BasicTree
        li.tagcloud TagCloud
    div.clear