section(class='globalstyles')
    h2 Global Styles
    h3 layout
    ul(class='stylelist l-layout')
        li
            p
                span.name padding-top
                input(type='text')
                span.unit
    h3 grid
    ul(class='stylelist l-grid')
    h3 legend
    ul(class='stylelist l-legend')
    h3 tooltip
    ul(class='stylelist l-tooltip')
    h3 color
    ul(class='stylelist l-color')
