doctype 5
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='author', content='@zhengli')
        title= title
        link(rel='shortcut icon', href='/images/favicon.ico')
        link(rel='stylesheet', href='/css/style.css')
        |<!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
    body(class='p-front')
        header
            h1
                a(href='http://infoviz.org')
        section(class='container')
            block menu
            block content
            a(class='fork', href='https://github.com/nocoo/my-infoviz')
        footer
            p
                span My InfoViz v0.0.1, the MIT License&nbsp;
                a(href='http://about.me/nocoo') @zhengli
        script(type='text/javascript')
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35672267-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();